# History files
.Rhistory
*/.Rhistory
.Rapp.history
*/.Rapp.history

# Session Data files
*/.RData
.RData
.RDataTmp
*/.RDataTmp

# User-specific files
*/.Ruserdata
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
*/.Rproj.user/

# produced vignettes
*/vignettes/*.html
*/vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
*/.httr-oauth

# knitr and R markdown default cache directories
*_cache/
*/cache/*

# Temporary files created by R markdown
*/*.utf8.md
*.utf8.md
*/*.knit.md
*.knit.md

# R Environment Variables
*/.Renviron
.Renviron

# pkgdown site
*/docs/
docs/

# translation temp files
po/*~

# RStudio Connect folder
*/rsconnect/
rsconnect/

# Raw data
upd8_cards/*
upd8_sets/*
upd8_cards
upd8_sets
*.csv
.csv
*.zip
*/*.csv
.zip 
.json
*/*.zip
*.json
*/*.json